/* products.css */

.products {
  margin-top: 20px;
}
.products-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.products-heading {
  text-align: center;
  margin-bottom: 20px;
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.product-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-dec {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttonadd {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.add {
  background-color: green;
  color: white;
}

.remove {
  background-color: red;
  color: white;
}
