/* products.css */

/* Loader Styles */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  font-size: 18px;
  color: #fd5811;
}

/* Error Message Styles */
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  font-size: 18px;
  color: #ff0000;
}

/* Products Container Styles */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Product Content Styles */
.product-content {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Product Image Styles */
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Product Description Styles */
.product-description {
  margin-top: 10px;
}

.product-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.product-dec {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #fd5811; /* Orange color for the price */
  margin-bottom: 5px;
}

.original-price {
  text-decoration: line-through;
  color: #777;
}

.product-discount {
  font-size: 14px;
  color: #27ae60;
  margin-bottom: 5px;
}

/* Add to Cart Button Styles */
.product-addbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.buttonadd {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.buttonadd.add {
  background-color: #fd5811; /* Orange color for "Add to cart" button */
  color: #fff;
}

.buttonadd.remove {
  background-color: #000; /* Black color for "Remove from cart" button */
  color: #fff;
}

.buttonadd.add:hover,
.buttonadd.remove:hover {
  background-color: #d94700; /* Slightly darker orange for button hover effect */
  color: #fff;
  transform: scale(1.1);
}
.product-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d4d; /* Red color for the discount label background */
  color: #fff; /* White color for the discount text */
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}
