.cart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fdfaf8;
  }
  
  .cart-left {
    flex: 1;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .cart-right {
    flex: 1;
    padding-left: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-img {
    margin-right: 20px;
  }
  
  .cart-img img {
    width: 100px;
    height: auto;
  }
  
  .remove-btn {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    color: #fd5811;
  }
  
  .cart-left-amount {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .cart-left-btns {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .cart-btn {
    background-color: #fd5811;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .cart-btn:hover {
    background-color: #ff744d;
  }
  
  .cart-right h1 {
    margin-bottom: 20px;
    color: #fd5811;
  }
  
  .subtotal-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .subtotal-amount p {
    color: #fd5811;
  }
  
  .cart-btn.proceed-to-checkout {
    background-color: #fd5811;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
  }
  .cart-container.empty {
    overflow: hidden;
  }
  
  
  .cart-btn.proceed-to-checkout:hover {
    background-color: #ff744d;
  }
  