.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}
.button:hover {
  background-color: orangered;
}
/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color:orangered;
  --animation-color:orangered;
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))

}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color:#fd5811;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color:orangered;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color:orangered;
  }
  
  .signin a:hover {
    text-decoration: underline orangered;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    
    border: 1px solid rgba(105, 105, 105, 0.397,0.500);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
    
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: black;
   
  }
  
  /* button {
    --primary-color:#fd5811;
    --secondary-color: #fff;
    --hover-color: orange;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  } */
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .buttonlogin:hover {
    background-color: var(--hover-color);
  }
  
  .buttonlogin:hover .arrow {
    background: var(--secondary-color);
  }
  
  .buttonlogin:hover .arrow:before {
    right: 0;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  .auth-container {
    display: flex;
    justify-content: center;
    flex-direction:column;
    height:100vh;
    align-items: center;
    background-image: linear-gradient(90deg, white,orange, #fd5811,#fd5811,orange,white);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
  .login-logo{
    background-color: rgba(21, 14, 3, 0.149);
  
    border-radius: 30%;
  
  }
  .login-logo img{
    border-radius: 30%;
  }
  .auth-form {
    padding: 1rem;
    width: 30%;
  }
  .auth-form h1 {
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
  }
  .auth-form p {
    margin-bottom: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .auth-form p a{
    text-decoration: none;
    color:#fff;
  }
  .auth-form p{
    margin-top: 5px;
  
  }
  .auth-form input {
    padding: 1rem;
    height: 2.5rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    background-color: #d9d9d9;
  }
  .auth-btn {
    height: 2.5rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 900;
    border: none;
    color: #fd5811;
    background-color: #fff;
    cursor: pointer;
  }
  
  /* FF7F09,FD5811,FF0000,808080,D9D9D9,fffff */
  