.checkout-main{
    padding: 2rem;
}
.checkout-now{
    display: flex;
    justify-content: space-around;
}
.proceed-btn{
    background-color: #fd5811;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: white;
}
.checkout-form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    padding: 0.5rem;
}
.checkout-right{
    display: grid;
 
    gap: 0.5rem;
}
.checkout-img{
    height: 5rem;
    width: 100%;
    object-fit: cover;
}
.checkout-subtotal{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}