.nav-bar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    align-items: center;
    height: 15vh;
  }
  
  .nav-bar .search input,
  .nav-bar .search button {
    padding: 1rem;
    border: none;
  }
  
  .search {
    width: 56%;
  }
  
  .nav-bar .search input {
    width: 70%;
    background-color: #ffe7d1;
  }
  
  .nav-bar .search button {
    background-color: #fd5811;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-icons {
    display: flex;
    justify-content: center;
  }
  
  .help span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fd5811;
  }
  
  #help-icon {
    font-size: larger;
    color: #fd5811;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    align-items: center;
    height: 15vh;
    z-index: 9999; /* Set a higher z-index value */
  }
  
  /* Rest of the navbar CSS */
  
  .hero-center {
    width: 50%;
    position: relative; /* Add position relative */
    z-index: 1; /* Add a z-index value */
  }
  
  /* Rest of the hero CSS */
  
  