/* navbar.css */

.nav-bar {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  top: 0;
  margin-inline: 1rem;
  background-color: white;
  border-bottom: 1px solid white;
  align-items: center;
  height: 15vh;
  z-index: 9999; /* Set a higher z-index value */
}

.nav-bar .search input,
.nav-bar .search button {
  padding: 1rem;
  border: none;
}
.search input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;

 
}
.search {
 
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-bar .search input {
  width: 30rem;
  background-color: #ffe7d1;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
}
.nav-bar .search input {
  width: 30rem;
  color: black;
  background-color: #ffe7d1;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
padding-inline:2rem;
}



.hero-center {
  width: 50%;
  position: relative; /* Add position relative */
  z-index: 1; /* Add a z-index value */
}

/* Add any additional styles you want for other components */

/* Styles for the account dropdown */

.help {
  display: flex;
  align-items: center;
  cursor: pointer;
  color:#fd5811;
  text-decoration: none;
}



.account-dropdown {
  position: absolute;

  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.account-dropdown a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.searchbtn{
  background-color: #fd5811;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.account-dropdown a:hover {
  background-color: #f7f7f7;
}
.nav-icons {
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  gap: 5px;
  color: #fd5811;
  cursor: pointer;
  padding: 1rem;
}

.nav-icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd5811;
  padding:1rem;
}