.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 
  .carousel-button-left{
    background-color:transparent;
    height: 18rem;
    width: 3rem;
    border: none;
  }
  .carousel-button{
    background-color:transparent;
    height: 18rem;
    border: none;
  }