.bar-product{
      background-color: red;
    width: 100%;
    height: auto;
}
.flash-heading{
  
  
    padding: 5px;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}